<div
    class="d-flex card justify-content-center position-absolute text-center w-75 aligns-items-center start-50 top-50 translate-middle">
    <div class="card-header">
       Update Customer
    </div>
    <div class="card-body">
        <h5 class="card-title">Customer</h5>
        <p class="card-text">
            This is some text within a card body.<br>
            Here is a line break.<br>
            And another line break.
        </p>

        <!-- Success Alert -->
        <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{ successMessage }}
        </div>
        <!-- Error Alert -->
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
        </div>

        <form>
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control mt-3" [(ngModel)]="customer.name"
                            [ngModelOptions]="{standalone: true}" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mt-3" [(ngModel)]="customer.email"
                            [ngModelOptions]="{ standalone: true}" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mt-3" [(ngModel)]="customer.telephone"
                            [ngModelOptions]="{standalone: true}" placeholder="Telephone">
                    </div>
                    <button type="button" (click)="updateCustomer()" class="btn form-control bg-warning mt-3">Update Customer</button>
                </div>
            </div>
        </form>
    </div>
</div>